[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
awsebcli = "*"
mysqlclient = "*"
environs = "*"
django-crispy-forms = "*"
django-ckeditor = "*"
django-markdownx = "*"
django-ace = "*"
django-background-tasks = "*"
django-polymorphic = "*"
django-extensions = "*"
trueskill = "*"
pylatexenc = "*"
sympy = "*"
antlr4-python3-runtime = "*"
protobuf = "*"
jinja2 = "*"
grpcio = "*"

[requires]
python_version = "3.7"
