{% extends 'exam/exam_base.html' %}

{% block exam_content %}

<div class="d-flex justify-content-center">
<div style="position:relative;padding-top: 100%;" class="w-100">
<iframe
    id="visualizer"
    style="background-color: gray;position:absolute;top:0;left:0;width:100%;height:100%;"
    {% if problemid is not None %} src="/download/visualizer/{{ problemid }}" {% endif %}
></iframe>
</div>
</div>

<br>

{% if problemid is None %}
<table class="table table-hover text-center">
    <thead><tr>
        <th>Game Type</th>
        <th>Test Name</th>
        <th>Played At</th>
        <th>Score</th>
        <th>Load</th>
    </tr></thead>
    <tbody id="local_game_container">
    </tbody>
</table>

<div class="row border">
    <div class="col-md-2">
        <label for="port_input">Port</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="port_input" value="8080">
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" id="reload_button">Reload Games</button>
    </div>
</div>
{% endif %}


<script type="text/javascript">
/* list of curent game names */
var current_games = [];
/* port local replay hoster is running on */
var port = 8080;
/* data sent to loaded visualizer */
var visualizer_data = "";
var whoami = null;
const vis = document.getElementById("visualizer");

function which_visualizer(game_file) {
    return game_file.split("_")[0].toLowerCase();
}

function load_visualizer(visualizer_id, json) {
    let iframe_url = `/download/visualizer/${visualizer_id}`;
    visualizer_data = json;
    vis.setAttribute("src", "");
    vis.setAttribute("src", iframe_url);
}

function load_game(game_file) {
    let vis = which_visualizer(game_file)
    fetch(`http://localhost:${port}/${game_file}`)
        .then(response => response.json()
        .then(json => load_visualizer(vis, json)));
}

function process_scanned_games(html) {
    /* python's SimpleHTTPServer module sends games back as an html page,
        * we want to scrape the replay file titles from it */
    let range = document.createRange();
    let parsed = range.createContextualFragment(html);
    let links = Array.from(parsed.querySelectorAll("a"));
    current_games = links.map((val) => val.getAttribute("href"));
    
    let table = document.getElementById("local_game_container");
    while (table.firstChild) table.removeChild(table.firstChild);
    current_games.forEach((val) => {
        let parts = val.substring(0, val.length-5).split("_");

        let gametype = parts[0].toLowerCase();

        let timestamp = parseInt(parts[1]);
        let date = new Date(timestamp * 1000);
        let display_date = date.toLocaleTimeString("en-US");

        let score = parts[2];
        let rest = parts.slice(3).join("_");

        let row = document.createElement("tr");
        table.appendChild(row);
        [gametype, rest, display_date, score].forEach((val) => {
            let data = document.createElement("td");
            data.textContent = val;
            row.appendChild(data);
        });

        let buttontd = document.createElement("td");
        let button = document.createElement("button");
        button.innerText = "▷";
        button.classList.add("btn", "btn-primary");
        button.onclick = function() {
            load_game(val);
        };

        buttontd.appendChild(button);
        row.appendChild(buttontd);
    });
}

/* fetch games from the locally running server */
function scan_local_games() {
    fetch(`http://localhost:${port}/`)
        .then(response => response.text()
        .then(html => process_scanned_games(html)));
}

{% if problemid is None %}
document.getElementById("reload_button").addEventListener("click", function() {
    port = parseInt(document.getElementById("port_input").value);
    scan_local_games();
});
{% endif %}
vis.onload = function() {
    {% if problemid is not None %}
    const visualizer_json = {{ visualizer_data|escapejs }};
    visualizer_data = JSON.parse(visualizer_json);
    whoami = visualizer_data.whoami;
    {% endif %}
    const src = vis.getAttribute("src");
    if (src !== null && src !== "") {
        vis.contentWindow.postMessage({ history: visualizer_data.history, whoami: whoami }, "*");
    }
};
</script>

{% endblock %}