{% load static %}

<div class="card cardlink mt-2 mb-5">
    <div class="card-body">
        <h1 class="card-title">Important Dates</h1>
        <p class="card-text">
            <span class="font-weight-bold">September 2022 (TBD)</span></br>
			CMWMC registration
        </p>
        <p class="card-text">
            <span class="font-weight-bold">October 29, 2022</span></br>
			CMWMC contest date
        </p>
        <p class="card-text">
            <span class="font-weight-bold">February 2023 (TBD)</span></br>
            Math Contest
        </p>
        <p class="card-text">
            <span class="font-weight-bold">March 2023 (TBD)</span></br>
            Programming Contest
        </p>
        <a href="{% url 'contest_list' %}" class="btn btn-primary stretched-link">Register Now</a>
    </div>
</div>

<!--
<div class="card cardlink mt-2 mb-5">
    <div class="card-body">
		<img src="{% static 'img/math_shirt_back.jpg' %}" alt="CMIMC Math T-shirt front" class="center mb-3">
        <p class="card-text">
		Order a stylish CMIMC T-shirt today!
		</p>
        <a href="{% url 'contest_list' %}" class="btn btn-primary stretched-link">Get T-shirt</a>
    </div>
</div>
-->
