{% extends 'base.html' %}

{% block content %}

<p class="display-4">CMWMC Format</p>
<hr class="red_line"/>

<div class="row mb-4">
    <div class="col">
        <p><i>The format is subject to change</i></p>
        <p>The contest consists of three rounds: the Individual round, Relay round, and Guts rounds.</p>

        <h3>Individual Round</h3>
        <p>There will be one individual round, containing problems on Algebra, Number Theory, Geometry, Combinatorics, and Computer Science.</p>

        <h3>Relay Round</h3>
        <p>Teams of 3 will work to solve sets of problems where each team member works on one problem of the set and passes their answer to the next team member, who will use that answer to solve their own problem (like a relay!). No other communication is allowed. You don’t have to wait for the person before you to finish before you start working on your problem. Only the last contestant’s submission will be graded.</p>

        <h3>Guts Round</h3>
        <p>Teams of 3 will work together to solve sets of problems. After completing one set, the next problem set will be given. Teams cannot return to edit answers from a previous set.</p>

        <p>Each student will take all 3 individual rounds, and can choose between divisions 1 and 2 - see details below.</p>
    </div>
</div>

{% endblock %}

