{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row justify-content-center mt-5 mb-5">
    <div class="col-sm-10 col-md-8 col-lg-6">
		<img src="{% static 'img/cmwmc_logo.png' %}" alt="CMWMC logo" width="100%" height="auto" class="center">
	</div>
</div>
		
<div class="row mb-4">
    <div class="col">
		<p>This year, we are hosting a brand new contest: <span class="font-weight-bold">Carnegie Mellon’s Womens Math Competition (CMWMC)</span>. This contest is designed for any girls interested in mathematics, regardless of their previous experience or current skill level. Our mission is to ultimately create an encouraging environment for girls in STEM.</p>

		<p>The date of the contest is <span class="font-weight-bold">Saturday, October 29th, 2022</span>. It will be held <span class="font-weight-bold">in-person at Carnegie Mellon</span>. Registration will open in the fall - fill out the interest form to be notified when it opens!</p>

		<a class="btn btn-primary mb-5" href="https://forms.gle/Dk31qd38LrYWyky38" target="_blank" rel="noopener noreferrer">CMWMC Interest Form</a>

		<img src="{% static 'img/cmwmc_flyer.png' %}" alt="CMWMC flyer" width="100%" height="auto" class="center">
	</div>

    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>

{% endblock %}

