{% extends 'base.html' %}

{% block content %}
<p class="display-4">Programming Contest Schedule</p>
<hr class="red_line"/>

<div class="row">
    <div class="col">
        <h2 class="mb-3">Thursday, March 17th 2022 (Sponsor Events)</h2>
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5:30 PM</td>
                <td>6:30 PM</td>
                <td>Citadel Info Session</td>
              </tr>
              <tr>
                <td>7:00 PM</td>
                <td>8:00 PM</td>
                <td>Jane Street Info Session</td>
              </tr>
			</tbody>
        </table>

        <h2 class="mb-3">Friday, March 18th 2022</h2>
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>7:00 PM</td>
                <td>7:45 PM</td>
                <td>Opening Ceremony, Contest Explanation, FAQ</td>
              </tr>
              <tr>
                <td>8:00 PM</td>
                <td></td>
                <td>Competition Start, Problems Released (both rounds)</td>
              </tr>
            </tbody>
        </table>

        <h2 class="mb-3">Saturday, March 19th 2022</h2>
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>7:00 PM</td>
                <td>8:00 PM</td>
                <td>Trivia Tournament</td>
              </tr>
              <tr>
                <td>8:00 PM</td>
                <td>9:00 PM</td>
                <td>Estimathon</td>
              </tr>
            </tbody>
        </table>

        <h2 class="mb-3">Sunday, March 20th 2022</h2>
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>6:00 PM</td>
                <td>Competition End</td>
              </tr>
              <tr>
                <td>6:15 PM</td>
                <td>7:30 PM</td>
				<td>Guest Speaker: <a href="https://www.anilada.com/" target="_blank" rel="noopener noreferrer">Anil Ada</a></td>
              </tr>
              <tr>
                <td>8:00 PM</td>
                <td>8:30 PM</td>
                <td>Closing Ceremony</td>
              </tr>
            </tbody>
        </table>


        <p>All times are in Eastern Standard Time (UTC -5).</p>
    </div>
    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>
{% endblock %}
